[2017-12-11 13:13] dwainm opened #5 "Better handling of on hold tokens"
When a renewal is submitted and fails, PayFast places the token into an on hold state and returns 400 error on our API call. We should handle this in a way that gives the admin/shop_manager a better idea of the steps to take next.

[2018-07-19 14:42] madeincosmos opened #4 "[Google Analytics] PayFast overrides the previous referrer, breaking conversion tracking"
#### Affected ticket(s)
1290308-zen

#### What I expected
To track purchase conversions with Google Analytics.

#### What happened instead
As the checkout process redirects to PayFast, it overrides the previous referrer in Google Analytics making it impossible to track conversions.

PayPal Standard has it solved by adding `utm_nooverride=1` to redirect page URL:

https://github.com/woocommerce/woo

[2019-02-04 17:17] mikkamp opened #2 "Payfast incorrect API response handling for subscription renewal payments"
Affected ticket: 1766027-zen

The user in the ticket contacted us regarding the responses in a subscription renewal being handled incorrectly.

The response they receive in this case is:

[code]

If we compare that to a successful subscription renewal this is what they receive:

[code]

As we can see in both these cases the code = 200 and the status = success. The documentation doesn't clarify how

[2019-03-13 21:02] geeklore opened #1 "Possible bug with X_FORWARDED_FOR"
#### Affected ticket(s)

1876005-zen

#### Steps to reproduce the issue
Customer reports:

In the Payfast plugin, class-wc-gateway-payfast.php specifically, there is a bug with the is_valid_ip function. It was assessing the X_FORWARDED_FOR header as the $source_ip against the list of valid IPs. I've added `array_push($valid_ips, $source_ip);` to the if statement that adds support for X_FORWARDED_F

[2019-05-01 13:41] geeklore opened #3 "Clicking the back button after purchase gives everlasting spinner on iOS."
#### Affected ticket(s)

1392362-zen

#### What I expected

Customer expects to be able to click the back button after making the purchase. Taking them from the PayFast site back to their own site and into the cart again.

#### What happened instead

This works on my Mac, but on the iPhone, which is what they are reporting, it does not work. The same for the customer.

#### Steps to reproduce the

[2019-06-12 09:09] tommyshellberg commented on #2
Any update on this one @JGPage?

[2019-06-13 10:31] JGPage commented on #2
@tommyshellberg A fix is pending, just needs to be done on the public repo

https://github.com/woocommerce/woocommerce-gateway-payfast-private/pull/64#issuecomment-488301042

[2019-07-31 02:08] ryanr14 opened #7 "Cloudflare triggers PF_ERR_BAD_SOURCE_IP"
This came in via 2234571-zen

The PayFast extension fails on sites hosted behind Cloudflare (on Flywheel) because the source IP rotates. Payfast confirms. The error is below. Only commenting out these lines in the plugin allows it to work. Status report provided is generic for privacy reasons.

[code]

ERROR FROM LOGS HERE:
07-17-2019 @ 10:49:27 -
----------
PayFast ITN call received
----------
07

[2019-08-15 10:41] RiaanKnoetze commented on #7
Bumping the status to critical, if payments are fundamentally broken on a website that runs Cloudflare + PayFast, it undermines the _ecommerce_ site as a whole.

[2019-09-13 21:00] allendav commented on #7
@RiaanKnoetze - is cloudflare used by a majority of payfast sites?

[2019-09-13 21:03] allendav commented on #7
@dwainm - please investigate a fix for this

[2019-09-17 21:44] allendav opened #10 "WooCommerce 3.8, WordPress 5.3 Compatibility"

[2019-09-17 21:45] allendav commented on #2
Any updates @JGPage  ?

[2019-09-18 13:31] RheinhardtSnyman commented on #2
Hi @allendav, pull request https://github.com/woocommerce/woocommerce-gateway-payfast/pull/6 has been made with the fix which needs to be merged.

[2019-10-12 14:27] madeincosmos opened #11 "Orders stuck at Pending Payment when using reverse proxy"
**Describe the bug**
WooCommerce PayFast plugin validates if ITN payment notification came from a legitimate source by comparing source IP with `payfast.co.za` servers. This automatically breaks payment notifications on all servers that use reverse proxy such as Cloudflare.

As a workaround, we're recommending the customers disable IP filtering with a custom code snippet which is neither secure no

[2019-10-24 13:32] dwainm commented on #2
Fixed in https://github.com/woocommerce/woocommerce-gateway-payfast/pull/6

[2019-10-24 13:32] #2 closed

[2019-10-24 13:35] dwainm commented on #10
Tested while running some checks on
https://github.com/woocommerce/woocommerce-gateway-payfast/pull/6

All in order with no obvious issues.

[2019-10-28 13:27] #10 closed

[2019-11-24 11:08] corsonr commented on #11
Any news?

[2019-12-09 13:25] corsonr opened #13 "Add "Split Payments""
PayFast recently introduced **Split Payments** and a couple of our customers requested we implement this feature so that they use it in conjunction with Vendors.

- https://www.payfast.co.za/2019/10/23/payfast-launches-split-payments/

It would be nice to consider it since we don't have that many options for vendors.

[2019-12-22 15:08] zwiesman31 commented on #11
CC: @luizreis

[2020-01-14 16:05] madeincosmos commented on #11
One more user possibly affected by this in 2629462-zen

[2020-01-29 10:54] RiaanKnoetze commented on #11
Adding 2416714-zen

[2020-02-12 08:26] rynaldos opened #14 "Enable/disable toggle doesn't work as it should."
Howdy!

The enable/disable toggle here doesn't work:

<img width="1287" alt="Screen Shot 2020-02-12 at 10 12 29" src="https://user-images.githubusercontent.com/6198774/74315958-3d224f00-4d81-11ea-9637-f4afbfd831da.png">

If disabled here, it would still show up as a payment method in the checkout as it has no affect with the setting here:

<img width="561" alt="Screen Shot 2020-02-12 at 10 12 18"

[2020-02-14 07:22] RiaanKnoetze commented on #7
Apologies @allendav - I missed your question here. Cloudflare is only popular for the bigger South African websites 🙂

With that said, a new report just surfaced in 2702282-zen where the user reported the same error but mentions that they _don't_ have Cloudflare active. They're currently with Bluehost we're currently ruling out whether the must-use caching plugins might be at play.

[2020-02-27 16:59] dbfx commented on #11
Had this start happening today randomly - any IP changes happen?

[2020-03-02 12:36] dbfx commented on #7
Any word on this? I'm having it on a wordpress.com site behind cloudflare

[2020-03-09 17:52] allendav opened #15 "Bump "Tested up to:" in the plugin's readme.txt to 5.4"
Has PR: #16

WP 5.4 is releasing on March 31

https://wordpress.org/news/2020/03/wordpress-5-4-release-candidate/

[2020-03-30 18:14] #15 closed

[2020-03-30 19:05] allendav opened #17 "Get working with woorelease script"
woorelease appears to flag all of the files for this plugin as missing/not under version control (not sure what that last file is there)

`wr --no-build --version=1.4.15 woocommerce-gateway-payfast`

...

WR [18:55:42] ------------------
!       trunk/assets
!       trunk/assets/images
!       trunk/assets/images/icon.png
!       trunk/changelog.txt
!       trunk/gateway-payfast.php
!       trunk/

[2020-06-09 12:04] RHSkinner commented on #7
Is there any update on this issue? I seem to be encountering the same problem.

[2020-06-22 19:33] mdmoore opened #20 "Error is an Object and can't be converted to a string"
**Describe the bug**
When a subscription renewal payment fails due to insufficient funds, PayFast returns an error.  It looks like an object is returned, leading to this error:

[code]

**To Reproduce**
I'm not sure how to reproduce an insufficient funds failure in Payfast.

**Expected behavior**
An error be interpreted an printed to the order notes up status change.

**Screenshots**

**Environmen

[2020-07-14 09:09] tsetend commented on #20
The user came back to get an update on this issue: 3079584-zen

[2020-07-21 10:17] kylemcph commented on #20
I'm closing the 3079584-zen ticket instead of continually putting it on-hold. We can create a new follow-up once resolved.

[2020-08-04 20:24] nixiack opened #21 "Add the ability for PayFast to show and store CC data when the checkout is at 0.00 with Subscriptions free trials"
**Is your feature request related to a problem? Please describe.**
When working with the Subscriptions product, PayFast disappears as an option when the cart shows 0.00 - for example a Free Trial that zeroes out the amount in the Cart.

**Describe the solution you'd like**
When there is a subscription in the cart that is 0.00, PayFast should show up to at least record the CC field information down

[2020-08-27 21:37] allendav opened #23 "readme.txt: Contributors: woocommerce, automattic (then the rest)"
cc @beaulebens

[2020-09-03 13:13] bernattorras commented on #20
Another customer reporting this issue here: 3283541-zen

It seems that it can be replicated there if you try to "Retry the renewal payment" on a subscription.

Here's all the information that is logged in the Payfast logs:

[code]

I've used "Health Check" to temporarily disable all plugins except WC, WCS, and PayFast, but the issue persists (I'm not sure though if Health Check is really disabling

[2020-09-25 15:50] Spartex commented on #7
Is there a fix for this Cloudflare ITN as it still is happening despite adding "HTTP_CF_Connecting_IP"?

[2020-10-05 10:17] bluekable commented on #20
I started receiving this error recently and did some digging - here are my findings:

The logged error in debug file was this:
[05-Oct-2020 09:37:37 UTC] PHP Recoverable fatal error:  Object of class stdClass could not be converted to string in /usr/www/users/iiconnupus/wp-content/plugins/woocommerce-payfast-gateway/includes/class-wc-gateway-payfast.php on line 879

That line is:

`$renewal_order-

[2020-10-05 16:51] thuautp commented on #20
also seen in 3375962-zen

[2020-10-08 22:10] #23 closed

[2020-11-03 03:27] ldr2273 commented on #20
Customer in 3283541-zen has reached out for a follow up on this. Pinged dev channel to see if we could get a look at this.

[2020-11-04 15:12] zdenys commented on #20
Another case in 25401880-hc.

[2020-11-05 10:02] dwainm opened #25 "Update for PHP 8"
Ensure the plugin works correctly on hosts running PHP 8

[2020-11-13 17:47] luizreis commented on #25
I've tested compatibility with PHP8 using `Exakat`, `PHPCompatibility`, and did some smoke tests with the plugin running `WP 5.6-beta4-49590`, `WC 4.7.0` and `PHP 8.0.0rc1`. I didn't find any incompatibilities during my testing.

**Exakat**

I set it up using the instructions in pca54o-oV-p2#comment-716. The compatible PHP estimated versions are 7.1, 7.2, 7.3, 7.4, 8.0.

- Compatibility tab for PH

[2020-11-17 08:04] dwainm commented on #25
Thanks for testing this plugin @luizreis. If you were able to do a checkout with PHP 8 I don't think we need to focus on anything else here.

It'll be a good idea to bump the plugin versions and compatibilities and do a release with those.

[2020-11-19 18:07] luizreis commented on #25
Good call. I'll try to fix some of the issues and take a look at the existing PRs to include them in the next release. I'm closing this one as the compatibility bumps can be done as part of the release.

[2020-11-19 18:07] #25 closed

[2020-11-19 18:10] luizreis opened #27 "Release 1.4.17"
We should release `1.4.17` to account for the compatibility tests run in https://github.com/woocommerce/woocommerce-gateway-payfast/issues/25 with `WP 5.6`, `WC 4.7.0` and `PHP 8.0.0`.

We should also strive to include some fixes and PRs that are currently open.

cc @dwainm

[2020-11-19 18:12] dwainm commented on #27
Thank you @luizreis

[2020-11-25 17:10] #20 closed

[2020-11-25 18:57] luizreis commented on #27
Released with `woorelease` after merging #18. All went well during release and smoke tests worked fine.

[2020-11-25 18:57] #27 closed

[2020-11-29 17:33] paulka007 commented on #4
This can be done by adding an Exclusions in Google Analytics : http://blog.analytics-toolkit.com/2015/payment-gateway-referrer-exclusions-google-analytics/

But being automatic would be better.

[2020-12-07 15:22] SiobhyB opened #32 "Better Error Handling/Flow for Expired Cards"
**Describe the bug**

In 3553380-zen, a user reported confusion as subscribers were being led to the following error at checkout, when attempting to manually renew a subscription:

[code]

The subscribers had expired cards and, given [PayFast's limitations with Subscriptions](https://docs.woocommerce.com/document/subscriptions/payment-gateways/), it wouldn't be possible for them to update the card

[2020-12-08 03:36] PallookaJ commented on #32
This bug does not present on a staging site, only a live site. On a staging site the payment gateway is shown as is expected. This leads me to believe this is a bug in either woocommerce core or woocommerce subscriptions and not in the payfast plugin.

[2020-12-08 12:55] jacoswan commented on #32
@PallookaJ - I'm able to recreate it on a staging site.

Using Payfast sandbox, I renewed once as normal, then changed the password in Payfast sandbox before triggering the renewal, causing a failed renewal. I emailed the user the invoice with link to renew, but when following the link from the emailed invoice, this notice appears:

![image](https://user-images.githubusercontent.com/15178758/10148

[2020-12-08 13:10] PallookaJ commented on #32
@jacoswan What happens when you navigate to the My Account area as that user and initiate the payment of the failed order from there? On our staging it then shows the gateway as payment option. On live it doesn't matter which way round you navigate to the checkout for the failed order you always get the "no payment methods" message.

@dwainm's issue might be related but I'm not seeing any 400 erro

[2020-12-08 15:13] jacoswan commented on #32
Ah, yes. On my staging site Subscriptions is live, and accessing the order via My Account » Orders » Pay still doesn't offer the gateway as an option. I'll test it more.

[2020-12-08 15:22] PallookaJ commented on #32
So if you put Subscriptions in staging mode you'll see that it works perfectly. That's why I feel it could possibly be a Subscriptions bug

[2020-12-09 06:55] jacoswan commented on #32
Thanks, @PallookaJ. The [Subscriptions GH](https://github.com/woocommerce/woocommerce-subscriptions/issues/3917) added details, tl;dr - what @SiobhyB said 😓 can the error message be clarified for this situation - would this count as an enhancement.. and would it be to Payfast or Subs?

[2021-02-01 10:15] dwainm opened #36 "Sync GH labels"
Sync GH labels as it is in all our other repos.

[2021-02-01 15:27] #36 closed, assigned to marcinbot

[2021-03-31 19:34] JDSymington commented on #32
I'm having this exact same issue on my live site.

One workaround I can think of is to cancel the users' subscription and let them go through the checkout process again. This is not ideal.

Another way would be to provide users with a link to update their card details.

According to the PayFast developer pages:
"**Update card details**
Provide buyers with a link to update their card details on a R

[2021-04-01 10:13] JDSymington opened #41 "Update PayFast user card details using token"
_**Some background info**_
I'm using Woocommerce Subscriptions plugin and  Woocommerce Membership plugin with Woocommerce PayFast plugin as the only payment method. Members sign up for a subscription plan of their choice with no expiration date. A user is only allowed one subscription to one plan. It they decide to switch to another plan, the current one is cancelled and they pay a small switching

[2021-04-01 13:30] jessepearson commented on #41
This is closely related to #32 and both could likely be worked on at the same time.

@JDSymington Can you confirm how often a situation like this happens to your customers?

[2021-04-01 13:45] JDSymington commented on #41
@jessepearson this happens to every customer whos credit card expires.
My workaround has been to monitor any failed payments and then manually send the customer an email with a link I generate for them to update the card details. This is however not a solution just a very temporary workaround.

[2021-04-01 13:50] jessepearson commented on #41
@JDSymington Thanks for the follow up. I bumped up the priority on this for the team to take a look.

[2021-04-02 06:04] PallookaJ commented on #41
@jessepearson I originally logged #32 and agree that the proposed solution above would work for us too. Even better would be to load the card update URL in an iframe so that the user isn't redirected away from our site. At the moment we have about 20-30 users a month that either have their cards expire or have to update their card details for some other reason. (like card having been cancelled, mo

[2021-04-05 10:51] JDSymington commented on #41
@PallookaJ I also thought about using the update URL returned by the failed payment. There is a big downside to this though.
If generating the URL on the fly a user can also update card details for a subscription that hasn't failed yet (for example if they own two credit cards and want to move the subscription from the one card to the other).
Using the URL returned by the failed payment will force

[2021-04-30 12:25] dwainm opened #42 "Release 1.4.19"
This release includes blocks support added by PR https://github.com/woocommerce/woocommerce-gateway-payfast/pull/40

[2021-05-04 14:15] dwainm commented on #42
Released: https://plugins.trac.wordpress.org/browser/woocommerce-payfast-gateway?rev=2525998

[2021-05-04 14:15] #42 closed, assigned to nobody

[2021-06-15 13:25] #14 closed

[2021-06-21 11:13] JDSymington commented on #41
Hi. I just want to follow up on this issue.
Is there a proposed solution yet?

[2021-07-30 13:48] PureandWholeStore opened #46 "Plugin not compatible with the latest block based checkout"
**Describe the bug**
The plugin not compatible with the latest block based checkout.
Tested on WP 5.8 & WC 5.5.2

![Screen Shot 2021-07-30 at 15 37 57](https://user-images.githubusercontent.com/71368368/127662003-c07e9496-f23f-4421-88c1-949152079bf1.png)
![Screen Shot 2021-07-30 at 15 38 03](https://user-images.githubusercontent.com/71368368/127662029-85f61ec7-946b-4eaa-b400-ad08616d9a37.png)
![Sc

[2021-07-30 13:50] PureandWholeStore commented on #46
![Screen Shot 2021-07-30 at 15 50 08](https://user-images.githubusercontent.com/71368368/127662853-a93c5b45-649e-45cb-a785-5b69057e34ad.png)

[2021-09-06 17:44] Aljullu commented on #46
Thanks for opening this issue @PureandWholeStore!

I was able to reproduce it. It looks like the version of WooCommerce PayFast Gateway that is distributed in WooCommerce.com and WordPress.org doesn't include the `build` directory, which contains the script that registers the payment method in blocks.

However, things work fine in the development version directly built from the repo.

@ismaeldcom

[2021-09-07 10:16] ismaeldcom commented on #46
Hi @Aljullu! Thanks for reviewing the issue, Axiom team will take care of PayFast from now on.
There is no `@woocommerce/axiom` yet, so cc @LCmry instead.

[2021-09-08 08:18] Aljullu commented on #46
Heads-up that I removed PayFast from the [list of supported payment gateways](https://docs.woocommerce.com/document/cart-checkout-blocks-support-status/) in the Cart & Checkout blocks status page. @LCmry, will you be able to add it back (or ping me) once this issue is fixed? Thanks!

[2021-10-03 15:40] JDSymington commented on #41
@jessepearson my user base has grown quite significantly since I opened this issue.
If there's any developer keen to work on this I'm willing to pay. Unfortunately if I can't solve this problem I'll have to move to another gateway.

[2021-10-03 16:05] JDSymington commented on #32
Hi @SiobhyB. Did you end up finding a way around this problem?

[2021-10-08 05:14] SiobhyB commented on #32
@JDSymington, at the time, I'm afraid the only workaround was to guide subscribers to cancel their existing subscriptions when their cards expire. They can then re-subscribe using the new credit/debit card. There might be a way to automate emails that send when cards expire, I know [AutomateWoo has some related and promising functionality](https://automatewoo.com/docs/triggers/saved-card-expiry-no

[2021-10-12 02:30] ryanr14 opened #47 "Update Compatibility with WooCommerce"
**Describe the bug**
When I click to update WooCommerce I get the following notification:

The following active plugin(s) have not declared compatibility with WooCommerce 5.0 yet and should be updated and examined further before you proceed.

**Expected behavior**
It should declare support for the current version(s) of WooCommerce. :)

**Screenshots**
<img width="295" alt="Markup%202021-10-11%20at

[2021-10-15 09:38] JDSymington commented on #32
@SiobhyB that is unfortunate.
By forcing customers to cancel their subscription there is a much higher probability that they won't subscribe again and you loose a paying customer.

[2021-10-19 08:31] cadic commented on #46
The `composer archive` command is respecting `.gitignore`, that's why "build" directory was excluded from the zip.

Also, when in Sandbox mode and empty Merchant ID/Key/Passcode, Payfast method was globally disabled.

Fixing all of this in the PR.

[2021-10-26 18:32] csmcneill commented on #46
4403078-zen is using PayFast with WooCommerce Blocks; they can accept payment, but the order statuses do not successfully change after payment is accepted. Could these be related?

[2021-11-16 15:27] haybelanger commented on #46
@ankitguptaindia Ive moved this to the Smoke Test column and reassigning to you.

[2021-11-17 08:43] ankitguptaindia commented on #46
@haybelanger

Smoke Test Approved.
**Next Step-** Ready to Merge.

[2021-11-17 21:24] #46 closed, assigned to ankitguptaindia

[2021-12-10 08:32] Viva57 commented on #32
Hi all. This issue is affecting my membership site. My only option is to cancel the subscription on the user's behalf and ask them to resubscribe. It is a subpar experience and ultimately not sustainable. What options do we have to get Woocommerce/Payfast to get this fixed?

[2021-12-21 17:54] jeffpaul commented on #32
After discussion it sounds like the most ideal approach here would be for Payfast to support a $0 transaction so that the extension could be enhanced to add proper support for `subscription_payment_method_change_customer`.  Is that an accurate and complete summary @iamdharmesh?

[2021-12-22 04:15] iamdharmesh commented on #32
Yes @jeffpaul .

[2022-01-04 07:49] iamdharmesh commented on #21
As mentioned here https://developers.payfast.co.za/docs#go_live, PayFast will not be able to process payments with an amount less than ZAR 5.00. So, users can able to save CC data for free trials only once PayFast supports a $0 transaction. (btw, I can see PayFast in the payment gateway list but I am not able to do payment successfully as getting error on the PayFast page)

![image](https://user-i

[2022-01-04 15:47] jeffpaul commented on #17
Will check and see if this occurs as a release is handled for https://github.com/woocommerce/woocommerce-gateway-payfast/pull/48.

[2022-01-05 14:44] jeffpaul commented on #21
@iamdharmesh will do, we'll check with WooCommerce and their Payfast partners to see if we can get this updated on the Payfast side so we can resolve here in the extension... thanks!

[2022-01-05 14:54] iamdharmesh commented on #5
Hi @dwainm @roykho,

Can you please provide more information on **on-hold tokens**?(as I didn't found anything about on-hold token on payfast developer docs)
Also, as mentioned by @jacoswan, can you please help to check and confirm if this issue is similar to #32.

Thanks
cc: @jeffpaul @dkotter

[2022-01-05 15:33] iamdharmesh commented on #13
Hi @corsonr,

Thanks for report the issue. Can you please help to provide more detailed feature requirements?

Thanks
cc: @jeffpaul @dkotter

[2022-01-12 09:30] iamdharmesh commented on #1
Hi @geeklore, Thanks for reporting the issue. Can you please provide more details on the issue? So, I can check on it.
cc: @jeffpaul @dkotter

[2022-01-14 07:25] joashrajin commented on #47
+1 4686053-zd-woothemes

[2022-01-14 22:49] jeffpaul commented on #21
@iamdharmesh we heard from @laurendavissmith that according to the PayFast docs they should already support a trial period at 0 for submissions.  See more here: https://developers.payfast.co.za/docs#tokenization

[2022-01-17 07:53] iamdharmesh commented on #21
Hi @jeffpaul, Thanks for pointing out documentation related to tokenization.
As I mentioned in my last comment I was getting errors in doing payment of `R0.00`, I am still getting it but after checking further on it, I found that after a few seconds of error, Payfast automatically redirects to the store with SUCCESS. Please check the video for more details. **Not sure if this behavior is due to th

[2022-01-20 05:57] mohammaddanish-cedcoss opened #62 "Add filters to make it compatible with other plugins"
We are making payfast plugin compatibility with other plugin
so we need a filter in the following place to handle the payment options in payfast on checkout.

In your plugin file /include/class-wc-gateway-payfast.php
we need a filter within ‘order_contains_subscription’ function
like return apply_filters(‘order_contains_subscription’, wcs_order_contains_subscription( $order ) );

For Example,

	pu

[2022-01-20 16:18] jeffpaul commented on #62
@mohammaddanish-cedcoss thanks for the report, we'll review how best your suggested filter works and get back to you with any questions or concerns.

[2022-01-24 14:51] sulemanhelp commented on #47
@ryanr14 support for current woocommerce is already added and released.

https://github.com/woocommerce/woocommerce-gateway-payfast/pull/60

[2022-01-24 14:51] #47 closed, assigned to sulemanhelp

[2022-01-24 20:09] jeffpaul commented on #13
Closing this as a feature enhancement that's being currently tracked in the WooCommerce ideas board --> https://ideas.woocommerce.com/forums/133476-woocommerce/suggestions/40333552-split-cart-payment-for-payfast-gateway

[2022-01-24 20:09] #13 closed

[2022-01-24 20:18] jeffpaul commented on #5
@iamdharmesh I believe those two issues are related, yes, so feel free to work on a fix that handles both together in an "improves error handling" sort of way.

[2022-01-26 15:10] iamdharmesh commented on #62
Hello @mohammaddanish-cedcoss,

Thanks for the report. can you please provide more details on your use case here? because `order_contains_subscription()` directly returning response of WooCommrce subscriptions' function (`wcs_order_contains_subscription`) without any operation on it. So, I think a better approach here is to check for filters in `wcs_order_contains_subscription` if it satisfies you

[2022-01-28 04:55] mohammaddanish-cedcoss commented on #62
Thank you for your reply.
We have a plug-in called Subscriptions For WooCommerce on the WordPress Org. We are making it to compatible with your payment gateway. But the problem is that you are using this function order_contains_subscription to add  'subscription_type'  in the payfast_args_array to make a payment and then it returns an array of response with a token. And we need this token to make

[2022-01-31 17:03] iamdharmesh commented on #62
Thanks for providing more information @mohammaddanish-cedcoss. For this, I think it's better to add a filter on `$this->data_to_send` array. I will add it and will update it here for the same.

Thanks.

[2022-02-01 04:28] iamdharmesh commented on #21
I contacted **PayFast** support team about this error on the `Sandbox` environment, they have replied that we can ignore the errors on a sandbox, it will not impact live env.
@ankitguptaindia I am not able to reproduce this issue. Can you please help to check this on your side once?

Thanks.

[2022-02-01 04:50] mohammaddanish-cedcoss commented on #62
Yeah sure, Thank you very much

[2022-02-09 07:06] iamdharmesh opened #65 "Test against WordPress 5.9"
We need to smoke test the extension to ensure it's compatible with WP 5.9 and Twenty Twenty Two theme.

[2022-02-09 15:14] haybelanger opened #66 "WP 5.9 - Compatibility and Smoke Testing"
We have found at least one incompatibility with the Twenty Twenty Two theme due to the WordPress 5.9 release. The issue that we found is that for certain extensions pieces of the UI will fail to render and an error would be thrown with “wc is not defined”. You can see https://github.com/Automattic/woocommerce-payments/pull/3718.

We need to smoke test our payment extensions to ensure that we don’t

[2022-02-10 17:57] dkotter commented on #1
Closing for now as unsure what the exact issue is here. It looks like support for `HTTP_X_FORWARDED_FOR` was added on purpose in v1.4.8 but that appears to be before the code was in this repo, so not exactly sure the purpose of it. If anyone has additional details on this issue or suggestions on fixes, we can reopen.

[2022-02-10 17:57] #1 closed

[2022-02-14 07:26] iamdharmesh commented on #65
Closing this as a duplicate of #66

[2022-02-14 07:26] #65 closed, assigned to iamdharmesh

[2022-02-14 09:23] Viva57 commented on #32
I've been following progress on this issue since my earlier comment (Dec 10). Looking at https://github.com/woocommerce/woocommerce-gateway-payfast/pull/63 it seems like a solution has been implemented, reviewed and approved. What needs to happen before this fix is released?

[2022-02-14 13:28] ankitguptaindia commented on #32
Hi @Viva57 This issue is in QA phase and still needs some more steps in our process like QA, Code Review (Woo team),  Regression, UAT/Demo, Smoke Testing.
I am adding this to Todo list on priority for the earliest release.

[2022-03-01 07:18] iamdharmesh commented on #41
@JDSymington @PallookaJ @jessepearson
PR for issue #32 is created and it also fixes this reported issue. Apart for fix manual payment, it also adds the functionality of `Change Payment Method`, which provides functionality to change the payment method of subscription at any time. So, I believe the **update user card details** feature is no longer needed. Can you please share your feedback on this

[2022-03-03 15:06] malithsen opened #67 "Add post purchase hooks"
Developer in 4821742-zd-woothemes requests two hooks that would allow merchants and tools to create post-purchase offers and implement one-click upsell.

They've sent us the following doc with their suggested changes
[hooks details.pdf](https://github.com/woocommerce/woocommerce-gateway-payfast/files/8178768/hooks.details.1.pdf)

[2022-03-04 22:00] jeffpaul commented on #67
@malithsen seems reasonable and worthwhile, will add to our backlog.  If the developer has a hard time constraint please let us know, otherwise we'll get to this.

[2022-03-07 07:04] JDSymington commented on #41
@iamdharmesh I agree that the **Update User Card Details** feature won't be needed if the **Change Payment Method** feature is implemented as the two features basically perform the same task.

Thank you very much.

Do you have any idea when this will be released?

[2022-03-07 17:31] jeffpaul commented on #5
@dwainm note that we're proceeding with our best assumption that the work in #32 will close out this issue.  If that's not accurate, if we're misunderstanding things, then please share additional information to help clarify... thanks!

[2022-03-07 17:35] jeffpaul commented on #41
@JDSymington the PR noted is currently in QA testing, still needs to go through Code Review, Regression Testing, UAT, and then Smoke Testing before being cleared for release.  I would estimate that'll happen somewhere around late March / early April as a very rough estimate.

[2022-03-08 11:19] tuhindewan opened #69 "Add action to make it compatible with other plugins"
**Is your feature request related to a problem? Please describe.**
I would like an action to be called after completion of the payment request.

**Describe the solution you'd like**
**handle_itn_payment_complete()** method is called when payment request status is "complete".
It would be nice if you could add an action inside the **handle_itn_payment_complete()** method,
after this code -> $order_i

[2022-03-08 15:12] jeffpaul commented on #69
@tuhindewan can you provide an example of what custom feature might be added using that action?

[2022-03-11 04:41] tuhindewan commented on #69
@jeffpaul Here's how it will work:
1. A user will buy a product on our site through a regular checkout process.
2. Right after the checkout, before order confirmation, we will offer him an upsell offer.
3. This will be a one-click upsell offer, i.e., the buyer will be able to accept the offer through a click of a button, but not go through the checkout process again. Or, he can reject the offer if

[2022-03-11 04:43] tuhindewan commented on #67
@jeffpaul  thank you for consideration. Please let us know, if you need further information.

[2022-03-11 14:23] iamdharmesh commented on #67
Hi @dkotter @jeffpaul,

Two actions/filters are requested in this issue. 1 requested filter is already added in PR #64 and another requested action hook is added in PR #67.

Thanks.
cc: @malithsen

[2022-03-11 14:43] iamdharmesh commented on #69
Hi @tuhindewan,

Thanks for reporting the issue. The action hook requested here is looking very similar to the request in #67 for the post-purchase hook, can you please confirm if it's same and check if PR created for that also fulfills your requirement.

Thanks.
cc: @jeffpaul

[2022-03-18 17:33] conschneider opened #72 "Add support for Transaction ID"
Add support for transaction IDs based on: https://developer.woocommerce.com/2014/08/05/wc-2-2-payment-gateways-adding-refund-support-and-transaction-ids/

Change: https://github.com/woocommerce/woocommerce-gateway-payfast/blob/8304af638d2635f84e68627b63d20deb86e7aeef/includes/class-wc-gateway-payfast.php#L680

[code]

to:

[code]

Discussion: https://wordpress.org/support/topic/needing-to-add-payf

[2022-03-18 17:46] robindevitt commented on #72
I originally posted the issue in the [discussion link](https://wordpress.org/support/topic/needing-to-add-payfast-payment-transaction-id/#post-15472997).

Im happy to create a PR and submit that if it's of any help?

[2022-03-25 05:15] AashikP opened #73 "[Sandbox] Subscription renewal orders are marked as Failed"
### Describe the Bug

Subscription renewal orders are marked as Failed incorrectly. The Subscription itself is set to Active, but a second ITN sets the order status to Failed, causing confusion while checking the order notes.

### To Reproduce

*   Place a Subscription order - This goes through successfully
*   Try `Process renewal` action on the Subscription
*   Notice that Subscription itself is

[2022-03-30 11:25] #66 closed, assigned to iamdharmesh

[2022-03-31 22:50] csmcneill opened #76 "Support for Multiple Subscriptions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

On [this page](https://woocommerce.com/document/subscriptions/payment-gateways/#:~:text=%E2%9C%94-,PayFast,-%E2%80%93), PayFast is not listed as a gateway that is capable of being able to process multiple subscriptions at once.

https://wo

[2022-04-05 08:05] rynaldos opened #77 "TLS Termination on May 1, 2022"
A user received the following notification from PayFast in regard to an upcoming TLS termination, which I would like to raise here just in case it needs our attention and if any changes are needed in the PayFast extension. The email is as follows.

<img width="353" alt="Screenshot 2022-04-05 at 10 01 54" src="https://user-images.githubusercontent.com/89896100/161707680-ba20ae2f-713b-4da3-a7f8-1cb5

[2022-04-06 11:40] iamdharmesh commented on #73
Hi @AashikP,

Thanks for reporting the issue. I came across this issue during the implementation of #32, So, I already fixed this under PR https://github.com/woocommerce/woocommerce-gateway-payfast/pull/63.

@dkotter @jeffpaul moving this to QA directly.

Thanks.

[2022-04-18 06:49] iamdharmesh commented on #77
Hi @rynaldos,

Thanks for raising this. There are no changes required in the PayFast extension, As TLS stuff is handled at the server level, and the extension use wp core's request functions to call PayFast API, it doesn't require any code-level changes for this.
Also, I tested the plugin with sandbox env as suggested in the email screenshot, and it working fine.

So, we are good to go with closin

[2022-04-18 14:59] #77 closed, assigned to iamdharmesh

[2022-04-19 15:55] vikrampm1 opened #78 "Test against WordPress 6.0"
Once WordPress 6.0 is released, we'll want to test the Payfast extension to see if any incompatibility issues arise.

**Begin testing once [RC1](https://make.wordpress.org/core/6-0/) is available on May 3rd, 2022**

- [x] Test Payfast extension on WordPress 6.0
- [ ] Open issues for any incompatibilities noted in testing
- [ ] Resolve issues identified in testing
- [x] Bump "tested up to" version

[2022-04-21 14:23] nicholasjeberlin commented on #76
+1 35235399-hc

[2022-04-28 17:19] Viva57 commented on #32
Hi all. It's quite a few weeks later and I'd like to check in: When will this fix be released.

From what I can tell, quite a bit of progress have been made in the meantime. I (and I'm sure many others) are desperately waiting for this to be released. In the absence of this fix, we're losing subscribers.

[2022-04-28 18:00] jeffpaul commented on #32
@Viva57 this issue and respective PR are one of many that the engineering team is working on across multiple extensions.  I'll see if I can nudge this one forward.

[2022-05-05 14:12] #62 closed, assigned to ankitguptaindia, iamdharmesh

[2022-05-09 13:23] ankitguptaindia commented on #73
**Update -**  Above issue(s) have been fixed with connected PR. New customers' reports of this issue can be tested/verify with this **Development version** of the plugin.

[woocommerce-gateway-payfast.zip](https://github.com/woocommerce/woocommerce-gateway-payfast/files/8652067/woocommerce-gateway-payfast.zip)

**_Please Note that this is Dev version of the plugin file and ONLY has fixes related t

[2022-05-09 13:25] ankitguptaindia commented on #41
**Update -**  Above issue is addressed in connected PR. New customers' reports of this issue can be tested/verify with this **Development version** of the plugin.

[woocommerce-gateway-payfast.zip](https://github.com/woocommerce/woocommerce-gateway-payfast/files/8652067/woocommerce-gateway-payfast.zip)

**_Please Note that this is Dev version of the plugin file and ONLY has fixes related to the ab

[2022-05-09 13:25] ankitguptaindia commented on #32
**Update -**  Above issue is addressed in connected PR. New customers' reports of this issue can be tested/verify with this **Development version** of the plugin.

[woocommerce-gateway-payfast.zip](https://github.com/woocommerce/woocommerce-gateway-payfast/files/8652067/woocommerce-gateway-payfast.zip)

**_Please Note that this is Dev version of the plugin file and ONLY has fixes related to the ab

[2022-05-09 13:32] ankitguptaindia commented on #5
**Update -**  Above issue doesn't have much information to reproduce/test. We are assuming the connected PR will resolve this scenario mentioned in the description _(as we worked on similar scenario in connected PR)._

If connected PR doesn't resolve above scenario then please feel free to mention here with detailed info. You can test new changes by using below zip file quickly.

[woocommerce-gate

[2022-05-10 12:36] #78 closed, assigned to iamdharmesh

[2022-05-10 12:38] #4 closed

[2022-05-10 12:40] #67 closed, assigned to iamdharmesh

[2022-05-13 14:09] vikrampm1 opened #87 "Add PHP Compat Testing GitHub Action"
Description:

Add PHP Compatibility testing through the PHPCompatibilityWP ruleset. This testing should run through Github Actions.

Note: full PHP 8.0 testing is not yet available in the PHPCompatibility ruleset (which the PHPCompatibilityWP uses). The 10.0 release of that is supposed to be coming in the next month or so and is supposed to have close to full 8.0 support.

[2022-05-20 08:18] iamdharmesh opened #89 "Add PHPCS GitHub Action and resolve PHPCS errors"
Description:

We have added PHPCS in the repo during the recent addition of the PHP Compatibility GH action(https://github.com/woocommerce/woocommerce-gateway-payfast/pull/88). The existing code base has PHPCS errors that required to be addressed and needs to add PHPCS GH action on pull_request to `trunk`

[2022-06-08 11:26] #87 closed, assigned to iamdharmesh

[2022-06-08 15:09] #32 closed

[2022-06-08 15:09] #5 closed

[2022-06-08 15:09] #41 closed, assigned to iamdharmesh

[2022-06-08 15:09] #73 closed, assigned to iamdharmesh

[2022-06-15 08:12] iamdharmesh commented on #11
I am not able to reproduce this issue. moving this to Backlog for now until we have some new reports for the same.

Thanks

[2022-06-15 08:14] iamdharmesh commented on #7
I am not able to reproduce this issue. moving this to Backlog for now until we get some new reports for the same.

Thanks

[2022-06-28 11:24] f-camara commented on #76
+1

[2022-07-08 12:30] vikrampm1 opened #93 "Bump WP, Woo, & PHP Minimums"
Bump WP, Woo & PHP Minimums to the following

- [ ]   WordPress to 5.6
- [ ]   WooCommerce to 6.0
- [ ]   PHP to 7.0
- [ ]   Scan for any conditional checks that may be in the code that can be removed with these minimum bumps

[2022-07-13 07:24] JDSymington opened #94 "Critical bug: Users charged multiple times while order status is stuck on "Pending payment""
Hi everyone

I Installed the latest version of the plugin that allows users to udate their payment method. When processing a subscription renewal the subscription status is correctly updated to "Active". I however started seeing problems with users being charged multiple times until I manually intervene and set the payment to "Complete".  This doesn't appear to affect every customer but a large pe

[2022-07-14 05:47] iamdharmesh commented on #94
I have checked on this and it looks like this issue is introduced by this commit (https://github.com/woocommerce/woocommerce-gateway-payfast/pull/63/commits/562a44c544ddb303ac1d3b3a21a0fa2e100bf8a9) which is to fix issue #73.

This issue is introduced because production is behaving differently than sandbox here (Sandbox environment returns response `true`  as **boolean**, while based on logs in th

[2022-07-18 16:05] #94 closed, assigned to iamdharmesh

[2022-07-20 19:01] #69 closed, assigned to tuhindewan

[2022-08-01 20:37] #21 closed

[2022-08-17 13:24] vikrampm1 opened #98 "Test against Custom Order Table implementation"
Describe the request
Please review the [Custom Order Table testing guide](https://developer.woocommerce.com/2022/05/16/call-for-early-testing-custom-order-table-migrations/), [upgrade guide](https://github.com/woocommerce/woocommerce/wiki/COT-Upgrade-Recipe-Book), and utilize the [latest testing ZIP](https://github.com/woocommerce/woocommerce/releases/tag/feature-custom-order-table) to see how the

[2022-08-17 14:35] #72 closed, assigned to robindevitt

[2022-08-26 08:52] cadic commented on #98
The migration of Payfast orders to custom order tables works well. Creating new orders fails because of multiple occurrences of old-style post meta functions, converted to WC_Order meta functions in #99

[2022-09-26 13:02] iamdharmesh commented on #76
I got a chance to check on this and here is my findings for the same.

**How Subscriptions work with Payfast Payment Gateway:**
The plugin uses **Tokenization** (ad-hoc) to process subscription payments. When customer signup for a subscription and pays using Payfast payment gateway, a token generated using Tokenization for subscription and that token is utilized during the subscription renewal to

[2022-09-26 19:39] jrick1229 opened #101 "Subscriptions compatibility regression ($0.00 checkout/change payment)"
### Describe the Bug

When the current checkout total is set to $0.00, the checkout process still directs you to PayFast to complete payment (and to set up intent).
The problem is that when trying to complete the checkout process with the $0.00 total, PayFast reports an error.

This happens in at least two scenarios:

- **a)** subscription product has a free trial set (initial $0.00 total); and
-

[2022-09-26 20:17] dkotter commented on #76
@iamdharmesh This sounds like the correct conclusion based on what you've found. Just to clarify one point, is it Payfast that is creating a single token for multiple subscriptions, or is that something we could theoretically change within the extension?

[2022-09-27 03:55] iamdharmesh commented on #76
@dkotter Payfast generates a token per transaction. As in multiple subscriptions support, multiple subscriptions are added to the cart and purchased under a single order and transaction. So, all subscriptions will have one common token. To generate a separate token for each subscription we have to make payment for all subscriptions separately, which is already current behavior and blocks us to add

[2022-10-06 14:34] vikrampm1 opened #103 "Declaring compatibility with High-Performance Order Storage"
### Background

https://github.com/woocommerce/woocommerce/pull/34727

### Declaring extension (in)compatibility

https://github.com/woocommerce/woocommerce/wiki/High-Performance-Order-Storage-Upgrade-Recipe-Book#declaring-extension-incompatibility

Once you examined the extension's code, you can declare whether it's compatible with HPOS or not. We've prepared an API to make this easy. To declare

[2022-10-10 20:27] jeffpaul commented on #103
May want to wait until the following Woo core issues are resolved before formally declaring support, though there is not more work currently planned in the extension so perhaps we continue either way (open to discussion):
* https://github.com/woocommerce/woocommerce/issues/34490
* https://github.com/woocommerce/woocommerce/issues/34470
* https://github.com/woocommerce/woocommerce/issues/34489

[2022-10-12 14:44] vikrampm1 commented on #103
Woo has updated the code snippets recommended for declaring (in)compatibility to fix problems reported by internal testers. The latest snippet can be found in [the upgrade guide](https://github.com/woocommerce/woocommerce/wiki/High-Performance-Order-Storage-Upgrade-Recipe-Book#declaring-extension-incompatibility)

[2022-10-14 13:04] #93 closed, assigned to iamdharmesh

[2022-10-14 13:52] #98 closed, assigned to cadic

[2022-10-31 14:24] ravinderk commented on #101
@jrick1229 I am not able to reproduce issue.

PayFast says:

ref: https://developers.payfast.co.za/docs#subscriptions

https://user-images.githubusercontent.com/1784821/199030639-358309c3-fb1d-4a0e-9341-13937c724630.mov

[2022-11-02 15:48] jrick1229 commented on #101
Thanks @ravinderk – I just tested again on my local site and it's no longer occurring.
I tested on two separate live sites just to be 100% sure and the same outcome. Weird, because I duplicated this so much before. 😅

I'll close this for now and reopen if I run across something I did different that I can't remember at this particular moment.

[2022-11-02 15:48] #101 closed, assigned to ravinderk

[2022-11-03 14:47] jeffpaul commented on #11
Closing as we're unable to replicate, if additional replication steps can be confirmed then please re-open and we'll continue triaging then... thanks!

[2022-11-03 14:47] #11 closed

[2022-11-03 14:49] jeffpaul commented on #7
Closing as we're unable to replicate, if additional replication steps can be confirmed then please re-open and we'll continue triaging then... thanks!

[2022-11-03 14:49] #7 closed

[2022-11-07 15:56] dkotter commented on #76
Since this seems like a limitation of Payfast and not the gateway, going to close this issue out.

[2022-11-07 15:56] #76 closed, assigned to iamdharmesh

[2022-11-18 12:12] #103 closed, assigned to cadic

[2022-11-24 19:47] leonardola opened #110 "The subscription with ID <id> is not in a valid state."
### Describe the Bug

A customer has been getting an error message when renewing a subscription. I was not able to reproduce the error on my setup. So this issue is more of a place to document the error.

### To Reproduce
- Create a subscription product with a free trial
- Buy the subscription product using Pay Fast
- Renewal the subscription via wp-admin or wait the free trial to expire
- The ren